<h3 class="col-md-12 nav navbar-default navbar-static-top navbar-brand navbar-center text-center">Welcome to Robot World!</h3>
<br>
<div class="text-center"><br>
  <a class="btn btn-info" href="/robots">Check out all the Robot(s)!</a><br><br>
  <a class="btn btn-danger" href="robots/new">Make ROBOOOOOOOOOT!</a>
</div>
