<form action="/robots" method="post">
  <h3>Build a new Robot:</h3>
  <p>To build a new robot fill in each item listed below and press "Build It"!</p>
  <p>Name:<input type='text' name='robot[name]'/></p>
  <p>City:<input type='text' name='robot[city]'/></p>
  <p>State:<input type='text' name='robot[state]'/></p>
  <p>Avatar:<input type='text' name='robot[avatar]'/></p>
  <p>Birthdate:<input type='text' name='robot[birthdate]'/></p>
  <p>Date Hired:<input type='text' name='robot[date_hired]'/></p>
  <p>Department:<input type='text' name='robot[department]'/></p>
  <input value='Build It!' type='submit'/>
</form>
