<form action="/robots" method="post">
  <h3>Build a new robot:</h3>
  <p>To build a new robot fill in each item listed below and press "Build It"!
  </p>
  <p>Name:<input type='text' name='robot[name]'/></p><br/>
  <p>City:<input type='text' name='robot[city]'/></p><br/>
  <p>State:<input type='text' name='robot[state]'/></p><br/>
  <p>Avatar:<input type='text' name='robot[avatar]'/></p><br/>
  <p>Birthdate:<input type='text' name='robot[birthdate]'/></p><br/>
  <p>Date Hired:<input type='text' name='robot[date_hired]'/></p><br/>
  <p>Department:<input type='text' name='robot[department]'/></p><br/>
  <input value='Build It!' type='submit'/>
</form>
